.scrollable-image-slides-wrapper {
  position: relative;
  width: 100%;
  height: 100px; /* Override in your css file */
  overflow: hidden;
}
.scrollable-image-slides {
  width: 20000em;
  position: absolute;
  clear: both;
}
.scrollable-image-slide {
  float: left;
}
